{%extends "dentBase.html"%}
{%block content%}
Dentist: {{current_user.dentist_name_surname}}

{%if dentistHasReservation%}
    <p>You have already reservation.</p><hr>
    {%for rows in dentist_reservations%}

    <div class="card">
        <h5 class="card-header">Patient: {{rows[0]|capitalize}} {{rows[1]|capitalize}}<br> Date: {{rows[2]}} <br></h5>
        <div class="card-body">
            <h5 class="card-title">Patient complaint:</h5>
            <hr>
            <p class="card-text">{{rows[3]}}</p>

            <h5 class="card-title">Your Note And Perscription:</h5>
            <p class="card-text">{{rows[4]}}</p>
            <form action="{{url_for('reservations.delete_reservation', reservation_id=rows[6])}}" method="POST">
                <input type="submit" class="btn btn-danger" value="Cancel" name="res_cancel">
            </form>
            <form action="{{url_for('dent.pre_update_reservation', reservation_id=rows[6])}}" method="POST">
                <input type="submit" class="btn btn-info" value="Update" name="res_update">
            </form>
        </div>
    </div>
    {%endfor%}
{%else%}
<div>
    {{current_user.dentist_name_surname}}
</div>
{%endif%}
{%endblock%}