{%extends "base.html"%}
{%block content%}
{% with messages = get_flashed_messages(category_filter=["warning"]) %}
{% if messages %}
<ul class="alert alert-warning" ,role="alert">
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endwith %}
<div class="position-absolute top-50 start-50 translate-middle">
  <div>
    <span>Work days are weekdays</span><br>
    <span>Work hours are at between 8.00 and 17.00</span><br>
    <span>You can make reservation in next 30 days</span>

  </div>
  <form class="form-control text-lg-center" method="POST">
    {{form.hidden_tag()}}
    <div class="form-group d-flex justify-content-between m-3">
      <span>Pick a date! *</span>
      {{form.reservation_datetime(type="datetime-local",step="3600")}}
    </div>
    <div class="form-group d-flex justify-content-between m-3">
      <span>Pick a doc! *</span>
      {{form.reservation_doctor_name()}}
    </div>
    <div class="form-group d-flex justify-content-between m-3">
      <span>Leave your note</span>
      {{form.reservation_patient_note(placeholder="Leave your notes for your doctor")}}
    </div>
    <div class="form-group m-3">
      {{form.reservation_submit(class="btn btn-primary btn-lg")}}
    </div>
  </form>
</div>
{%endblock%}